/* Estilos para los botones */
.edit-button, .delete-button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}
